<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Menu{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        {% block body %} 
            {% block content %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %} {% endblock %}
    </body>
</html>

