{% extends "GloryMenuBundle::layout.html.twig" %}

{% block content %}

    <form action="{{path('glory_menu_add',{id:id})}}" method="post">
        {{form_widget(form)}}
        <input type="submit" value="Add Item" />
    </form>

{% endblock %}
