{% extends "GloryMenuBundle::layout.html.twig" %}

{% block javascripts %}{% endblock %}

{% block content %}
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"> <a class="btn btn-primary" href="/gloryframe/web/dev.php/admin/menu/create">创建菜单</a></h3>
            <div class="box-tools">
            </div>
        </div>
        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                {% for menu in menus %}
                    <li>
                        <a href="{{path('glory_menu_show',{id:menu.id})}}"><i class="fa fa-list"></i> {{menu.label}} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
